<article class="session">
    {{ $video := index (.Resources.ByType "video") 0 }}
    {{ with .Resources.GetMatch "preview.jpg" }}
        <a class="image-preview" href="{{ $video.RelPermalink }}">
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
        </a>
    {{ end }}
    <div class="session-content">
        <div class="session-title">
            <a href="{{ $video.RelPermalink }}">{{ $.Params.title }}</a>
            {{ $date := time.AsTime .Params.date | time.Format ":date_long"}}
            <div class="session-date">{{ (resources.GetMatch "date.svg").Content | safeHTML }} {{ $date }}</div>
        </div>
        <div class="session-descr">
            {{ .Content }}
        </div>
    </div>
</article>
