body {
    max-width: 640px; /* width of a project image */
    margin: 0 auto;
}

article {
    margin: 20px 0;
    background: #f1f1f1;
    border-radius: 10px;
    padding-bottom: 10px;
    position: relative;
}

article > h2 {
    font-size: 20px;
}

article > * {
    padding: 0 10px;
}

article img {
    display: block;
    padding: 0;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: auto;
}

h2,
p {
    text-align: justify;
}

ul,
ol {
    list-style-position: inside;
}

.repo-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo-info > p {
    margin: 0;
}

.button-with-icon {
    background-color: #d5d5d5;
    padding: 5px;
    border-radius: 10px;
}

.button-with-icon > * {
    vertical-align: middle;
}

.button-with-icon > a {
    color: black;
}

.button-with-icon.demo {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

#language {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

#language > label {
    line-height: 0;
}

#language-switcher {
    padding: 5px;
    margin-left: 5px;
}
