<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ (resources.GetMatch "style.css").RelPermalink }}" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ block "body" . }}{{ end }}
    <script src="{{ (resources.GetMatch "script.js").RelPermalink }}"></script>
</body>
</html>
