<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ (resources.GetMatch "style.css").RelPermalink }}" rel="stylesheet" />
    <title>{{ .Title }}</title>
</head>
<body>
    {{ with .Rotate "language" }}
        <div id="language">
            <label for="language-switcher">{{ (resources.GetMatch "language.svg").Content | safeHTML }}</label>
            <select id="language-switcher">
                {{ range . }}
                    <option value="{{ .RelPermalink }}" {{ if eq .Language $.Language }}selected{{ end }}>{{ .Language.Label }}</option>
                {{ end }}
            </select>
        </div>
    {{ end }}
    <script>
        document.getElementById("language-switcher").addEventListener("change", (e) => {
            console.log("here");
            window.location.href = e.target.value
        });
    </script>
    {{ block "body" . }}{{ end }}
</body>
</html>
